<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restApiBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="PatientDataServiceLib.PatientDataService">
        <endpoint contract="PatientDataServiceContractLib.IPatientDataService"
                  binding="webHttpBinding" 
                  address="http://localhost:8008/pic/hmgmt" behaviorConfiguration="restApiBehavior" ></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>