<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPatientDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8003/webep" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPatientDataService"
                contract="PatientDataServiceReference.IPatientDataService"
                name="BasicHttpBinding_IPatientDataService" />
        </client>
    </system.serviceModel>
</configuration>